@media (min-width: 624px){
    .landing__content {
        width: 50rem;
        padding-left: 3rem;
    }

    .landing__title {
        font-size: 3.8rem;
    }

    /*              ADD NEW CAMPGROUND              */

    .navbar__campground, .main__campground {
        padding: 0 3rem;
    }

    .navbar__campground--left {
        padding: 0;
    }

    .comment__footer, .sites__footer {
        padding-left: 3rem;
    }

    /*              ADD NEW COMMENT             */
    .main__comment {
        padding-left: 3rem;
    }

    /*              UBICATION               */
    .ubication__card  {
        padding: 3.5rem 3rem;
    }

    .ubication__footer {
        padding-left: 1.5rem;
    }

    /*              SITES               */
    .main__sites {
        padding: 0 3rem;
        column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .size__title {
        font-size: 3.2rem;
    }

    .sites__card--search {
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 2rem;
        padding: 5rem 4rem;
    }

    .sites__form {
        margin-bottom: 2rem;
        display: grid;
        gap: 0 1rem;
        grid-template-columns: 2fr 1fr;
    }

    .sites__form--content {
        grid-area: 1 / 1 / 2 / 3;
    }

    .sites__button {
        margin: 0;
    }
}